[submodule "lib/opentk"]
	path = lib/opentk
	url = https://github.com/jpbruyere/opentk.git
[submodule "lib/GGL"]
	path = lib/GGL
	url = https://github.com/jpbruyere/GGL.git
[submodule "lib/Crow"]
	path = lib/Crow
	url = https://github.com/jpbruyere/Crow.git
